body{
    background-color: gray;
    height: 100vh;
    width: 100vw;
}
h1{
    font-weight: 500;
}
.container{
    /*border: 3px solid red;*/
    text-align: center;
    width: 40%;
    margin: auto;
    
}
b{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}
.loginErrorMsg{
    border: 3px solid red;
    background-color: rgb(148, 148, 148);
    padding: 5px;
    margin: auto;
    width: 30%;
}
#loginBtn{
    margin:auto;
    padding: 10px;
    font-weight:bold;
    background-color: aqua;
}
#logoutBtn{
    margin:auto;
    padding: 10px;
    font-weight:bold;
    background-color: aqua;
}
footer{
    border: 3px solid red;
    background-color: red;
    position: fixed;
    width: 100%;
    bottom: 0px;
    left: 0px;
    padding: 15px;
}

